.div {
    margin: 10px 15px;
    padding: 8px;
    width: 280px;
    height: 400px;
    border-radius: 12px;
    position: relative;
    background-color:#222222;
    background-size: cover;
    background-position: -20px -50%;
    display: inline-block;
    padding:5px;
    box-sizing: border-box;
}

.image {
  object-fit: cover;
  width:270px;
  height:220px;
}
.dogCard:hover{
    transform: scale(1.05,1.05);
    box-shadow: 6px 7px 8px 3px rgba(255, 255, 255, 0.7);
  }
.divTemperamento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    color: #22A39F
}
.dogCard:hover{
    transform: scale(1.05,1.05);
    box-shadow: 6px 7px 8px 3px rgba(255, 255, 255, 0.7);
  }
  .name{
    color: #22A39F;
  }
  .peso{
    color: #22A39F;
  }