.landing{
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-size: 60px;

}

.button {
  background: #434242; 
  color: #F3EFE0; 
  border: 2px solid #222222; 
  padding: 16px 20px;
  border-radius: 3px; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.button:hover {
  color: #222222; 
}
.button::after {
  content: "";
  background: #22A39F; 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
